<!doctype html>
<html class="no-js" lang="en">

    <footer id="contact"  class="contact">
        <div class="container">
            <div class="footer-top">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="single-footer-widget">
                            <div class="footer-logo">
                                <a href="index.html">Palestinian Airlines</a>
                            </div>
                            <p>
                                Committed to providing exceptional travel experiences with comfort and reliability.
                            </p>
                            <div class="footer-contact">
                                <p>info@palairlines.com</p>
                                <p>+1 (800) 123-4567</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <div class="single-footer-widget">
                            <h2>About Us</h2>
                            <ul>
                                <li><a href="#">Our Story</a></li>
                                <li><a href="#">Careers</a></li>
                                <li><a href="#">Terms of Service</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-12">
                        <div class="single-footer-widget">
                            <h2>Destinations</h2>
                            <div class="row">
                                <div class="col-md-7 col-xs-6">
                                    <ul>
                                        <li><a href="#">New York</a></li>
                                        <li><a href="#">London</a></li>
                                        <li><a href="#">Paris</a></li>
                                        <li><a href="#">Dubai</a></li>
                                        <li><a href="#">Tokyo</a></li>
                                        <li><a href="#">Sydney</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-5 col-xs-6">
                                    <ul>
                                        <li><a href="#">Berlin</a></li>
                                        <li><a href="#">Rome</a></li>
                                        <li><a href="#">Moscow</a></li>
                                        <li><a href="#">Beijing</a></li>
                                        <li><a href="#">Cairo</a></li>
                                        <li><a href="#">Toronto</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-offset-1 col-md-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h2>Newsletter</h2>
                            <div class="footer-newsletter">
                                <p>
                                    Subscribe to get the latest news and special offers.
                                    
                                </p>
                            </div>
                            <div class="hm-foot-email">
                                <div class="foot-email-box">
                                    <input type="email" class="form-control" placeholder="Your Email">
                                </div><!--/.foot-email-box-->
                                <div class="foot-email-subscribe">
                                    <span><i class="fa fa-arrow-right"></i></span>
                                </div><!--/.foot-email-icon-->
                            </div><!--/.hm-foot-email-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="row">
                    <div class="col-sm-6">
                        <p>
                            &copy; 2025 Palestinian Airlines. All rights reserved.
                        </p><!--/p-->
                    </div>
                    <div class="col-sm-6">
                        <div class="footer-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>	
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div><!--/.footer-copyright-->
        </div><!--/.container-->

        <div id="scroll-Top">
            <div class="return-to-top">
                <i class="fa fa-angle-up " id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
            </div>
            
        </div><!--/.scroll-Top-->
        
    </footer><!--/.contact-->
    <!--contact end-->
</html>