<!doctype html>
<head>
    <link rel="stylesheet" href="../static/css/navbar.css">

</head>
<html class="no-js" lang="en">

    <div class="navbar-box">
        <div class="container-fluid">
            <div class="navbar-header col-xs-6 col-sm-4">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/">Palestinian Airlines</a>
            </div>
        </div>
    </div>

</html>